{% extends 'base_crm.html.twig' %}

{% block title %} {{product.name}} {% endblock %}

{% block body %}
    <div id="current-entity-id" class="d-none">{{product.id}}</div>

   <div class="row">
        <div class="col-3">
            <h4> {{ product.name }} </h4>        
        </div>
        <div class="col-3">
            <h6>€{{ product.price }}</h6>
        </div>
        <div class="col-3">
            <a href="{{ path('edit_product', {id: product.id}) }}">Redaguoti</a>
        </div>
        <div class="col-3">
            <h6></h6>
        </div>
   </div>
    <div class="row">
        {% if is_granted('ROLE_ADMIN') %}
            <button id="delete-button">Delete</button>
        {% endif %}
    </div>
            {{ encore_entry_script_tags('remove_product') }}

{% endblock %}