{% extends 'base.html.twig' %}

{% block title %} {{client.name}} {% endblock %}

{% block body %}
{% include 'sidebar.html.twig' %}

<div class="col-md-9 col-xl-8">
   <div class="row">
        <div class="col-3">
            <h4> {{ client.name }} </h4>        
        </div>
        <div class="col-3">
            <h6> {{ client.email }} </h6>
        </div>
        <div class="col-3">
            <h6> {{ client.address }} </h6>
        </div>
        <div class="col-3">
            <h6> {{ client.createdAt|date("m/d/Y") }} </h6>
        </div>
   </div>
</div>
{% endblock %}