{% extends 'base.html.twig' %}

{% block title %}CRM Dashboard{% endblock %}

{% block body %}
{% include 'sidebar.html.twig' %}

<div class="col-md-9 col-xl-8">
    <h1>Hello {{ user.firstname }} {{ user.lastname }}! </h1>

    Currently the system has:
    <ul>
        <li>{{ userCount }} users</li>
        <li>{{ clientCount }} clients</li>
        <li>{{ productCount }} products</li>
        <li>{{ orderCount }} orders</li>
    </ul>
</div>
{% endblock %}
