{% extends 'base_crm.html.twig' %}

{% block title %} {{order.client.name}} {% endblock %}

{% block body %}
    <div id="current-entity-id" class="d-none">{{order.id}}</div>
   <div class="row mb-3">
        <div class="col-3">
            <h4> Order #{{ order.id }} </h4>        
        </div>
        <div class="col-3">
            <h6>Client name: {{ order.client }}</h6>
        </div>
        <div class="col-3">
            <h6>Client mail: {{ order.client.email }}</h6>
        </div>
        <div class="col-3">
            <h6></h6>
        </div>
   </div>
    <div class="row">
        <div class="col-12">
         <form action="/orders/updateAmount/{{order.id}}" method="post">
        <ul>
            <input type="hidden" name="order-id" id="order-id" value={{ order.id }}>   
            {% for product in order.products %}
                <li class="mb-3">
                    Name: {{ product.name }}
                    <br>
                    Price: {{ product.price }}€
                    <br>
                    <label>Amount:</label><br>
                    <input type="text" name="products[{{product.id}}]" id="products[{{product.id}}]" value={{ amount[product.id] }}>   
                </li>
            {% endfor %}
        </ul>
              <input type="submit" class="btn btn-primary" value="Update">
        </form>
         {% if is_granted('ROLE_ADMIN') %}
            <button id="delete-button" class="btn btn-danger mt-2">Delete</button>
         {% endif %}
        <div class="mt-2">
            <a class="btn btn-md btn-secondary mt-2" href="{{ path('orders_export', {'id': order.id}) }}">
                PDF
            </a>
            <a class="btn btn-md btn-secondary mt-2 ms-2" href="{{ path('mail', {'id': order.id}) }}">
                Send by mail
            </a>
        </div>
        </div>
            {{ encore_entry_script_tags('remove_order') }}
    </div>

{% endblock %}